@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// sass 版本1.25+ 使用 @use
// @use 'tailwindcss/base';
// @use 'tailwindcss/components';
// @use 'tailwindcss/utilities';

// 非 scss 的纯 css 文件，下列写法也是可以生效的
// @tailwind base;
// @tailwind components;
// @tailwind utilities;
